@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #e2e3e8;

  height: 100%;
  margin: 0;
}
